body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  background-color: #000;
  font-family: "Open Sans", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 1.5rem;
}

.btn {
  color: #eedb00;
  background-color: #000;
  border: 1px solid #eedb00;
  margin: 5px;
  padding: 15px;
  cursor: pointer;
  font-size: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 11px 16px 0px #000;
  -moz-box-shadow: 2px 11px 16px 0px #000;
  box-shadow: 2px 11px 16px 0px #000;
}
.btn:hover {
  background-color: #eedb00;
  color: #000;
}
.btn:focus {
  outline: 0;
}
.btn.btn-primary {
  text-transform: uppercase;
  width: 30%;
  min-width: 130px;
  opacity: 1;
  margin-top: 40%;
  -webkit-transition: font-size 0.5s ease-in-out;
  -o-transition: font-size 0.5s ease-in-out;
  -moz-transition: font-size 0.5s ease-in-out;
  transition: font-size 0.5s ease-in-out;
  -webkit-transition: margin-top 0.5s ease-in-out;
  -o-transition: margin-top 0.5s ease-in-out;
  -moz-transition: margin-top 0.5s ease-in-out;
  transition: margin-top 0.5s ease-in-out;
}
.btn.btn-primary i {
  display: block;
  pointer-events: none;
}
.btn.btn-primary.hide {
  margin-top: 0;
  opacity: .5;
  pointer-events: none;
  font-size: 13px;
}
.btn.btn-modal {
  width: 100%;
  padding: 5px;
  font-size: 16px;
}

.list_block {
  width: 50%;
  float: left;
  height: 100%;
  line-height: 100%;
  background-color: #000;
  color: #eedb00;
  text-align: center;
  padding-top: 8px;
  overflow-y: auto;
  max-height: 100%;
  padding-top: 18px;
}
.list_block .itens {
  padding: 10px;
}
.list_block .itens .view_details {
  width: 100%;
  background-color: #000;
  color: #eedb00;
  cursor: pointer;
  padding: 10px 15px;
  border: 1px solid #eedb00;
  text-align: left;
  -webkit-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
  -webkit-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}
.list_block .itens .view_details:hover {
  background-color: #eedb00;
  color: #000;
}
.list_block .itens .view_details:first-child {
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  -ms-border-radius: 15px 15px 0 0;
  border-radius: 15px 15px 0 0;
}
.list_block .itens .view_details:last-child {
  -webkit-border-radius: 0 0 15px 15px;
  -moz-border-radius: 0 0 15px 15px;
  -ms-border-radius: 0 0 15px 15px;
  border-radius: 0 0 15px 15px;
}
.list_block .itens .view_details b:first-child {
  font-size: 17px;
}

.preloader {
  position: fixed;
  top: 0;
  width: 100vw;
  color: #eedb00;
  height: 100vh;
  line-height: 100vh;
  opacity: .5;
  text-align: center;
}

.modal {
  position: fixed;
  top: -50%;
  left: 50%;
  color: #eedb00;
  transform: translate(-50%, -50%);
  background-color: #000;
  opacity: 0;
  height: 0;
  min-width: 320px;
  border: 1px solid #eedb00;
  padding: 15px 35px 25px 30px;
  z-index: 2;
  -webkit-box-shadow: 3px 3px 11px 8px #000;
  -moz-box-shadow: 3px 3px 11px 8px #000;
  box-shadow: 3px 3px 11px 8px #000;
  -webkit-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.modal.show {
  opacity: 1;
  top: 50%;
  height: auto;
}
.modal.show + .show {
  left: 55%;
  top: 55%;
}
.modal b {
  margin-right: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 1s;
  -o-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
.overlay .fa-times {
  position: absolute;
  padding: 10px 15px;
  right: 20px;
  top: 20px;
  color: red;
  border: 1px solid red;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}