<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>FrontEnd Challenge - Bruno Galati</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.14.0/axios.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.15.0/lodash.min.js"></script>
        <script type="text/javascript" src="src/app.js" /></script>

        <link rel="stylesheet" type="text/css" href="css/fontawesome-all.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        

    </head>

    <body>
        <div id="app">
            <section>

            	<div class="list_block">

            		<button type="button" v-on:click="loadPlanets" class="btn btn-primary">
                        <i class="fas fa-globe fa-2x"></i> planets
                    </button>

    	            <div class="itens">
    	            	<button type="button" class="view_details" v-for="item in planets" v-on:click="viewPlanetDetails(item.url)">
    	            		<b>{{ item.name }}</b> - <b>population :</b> {{ item.population }}
                        </button>
    		        </div>

                    <div v-if="planetPagination" class="flt_r">
                        <button type="button" class="btn" v-if="previousPlanets !== null" v-on:click="loadMorePlanets(previousPlanets)">
                            <i class="fas fa-angle-left"></i> Previous 
                        </button>
                        <button type="button" class="btn" v-if="nextPlanets !== null" v-on:click="loadMorePlanets(nextPlanets)">    Next <i class="fas fa-angle-right"></i>
                        </button>
                    </div>

            	</div>

            	<div class="list_block">

            		<button type="button" v-on:click="loadPeoples" class="btn btn-primary">
                        <i class="fas fa-users fa-2x"></i> caracters
                    </button>

                    <div class="itens">
                    	<button type="button" class="view_details"  v-for="item in peoples" v-on:click="viewPeopleDetails(item.url)">
                			<b>{{ item.name }}</b> - <b>height :</b> {{ item.height }} cm
                        </button>
                    </div>
                    <div v-if="peoplePagination">
                        <button type="button" class="btn" v-if="previousPeoples !== null" v-on:click="loadMorePeoples(previousPeoples)">
                            <i class="fas fa-angle-left"></i> Previous 
                        </button>
                        <button type="button" class="btn" v-if="nextPeoples !== null"  v-on:click="loadMorePeoples(nextPeoples)">   Next <i class="fas fa-angle-right"></i>
                        </button>
                    </div>

            	</div>

            </section>

        	<div class="modal" id="modalpeople" v-if="modal">
                <ul>
                    <li><h2>{{ people.name }}</h2></li>
                    <li><b>Height: </b>{{ people.height }} cm</li>
                    <li><b>Gender: </b>{{ people.gender }}</li>
                    <li><b>Birth year: </b>{{ people.birth_year }}</li>
                    <li><b>Hair color: </b>{{ people.hair_color }}</li>
                    <li><b>Skin Color: </b>{{ people.skin_color }}</li>
                    <li>
                        <button type="button" class="btn btn-modal" v-on:click="viewPlanetDetails(people.homeworld)">
                            <b>Home world: </b>{{ peopleHomeworldName }}
                        </button>
                    </li>
                    <li><b>Films: </b></li>
                    <li>
                        <ul>
                            <li v-for="item in peopleFilmTitle">{{ item }}</li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="modal" id="modalplanet" v-if="modal">
                <ul>
                    <li><h2>{{ planet.name }}</h2></li>
                    <li><b>Population: </b> {{ planet.population }}</li>
                    <li><b>Diameter: </b>{{ planet.diameter }}</li>
                    <li><b>Climate: </b>{{ planet.climate }}</li>
                    <li><b>Gravity: </b> {{ planet.gravity }}</li>
                    <li><b>Films: </b></li>
                    <li>
                        <ul>
                            <li v-for="item in planetFilmTitle">{{ item }}</li>
                        </ul>
                    </li>
                </ul>
            </div>

           	<div class="preloader" v-if="loading"> <i class="fas fa-cog fa-spin fa-10x"></i></div>
            <div class="overlay" v-if="overlay" v-on:click="overlay = false; modal = false">
                <i v-if="overlay" class="fas fa-times fa-2x"></i>
            </div>
            
        </div>
    </body>

</html>