    	//vars
        $sans: 'Open Sans', sans-serif;
        $primary_color: #000;
        $secondary_color: #eedb00;
        //vars

        //mixins

        @mixin border-radius($radius) {
          -webkit-border-radius: $radius;
          -moz-border-radius: $radius;
          -ms-border-radius: $radius;
          border-radius: $radius;
        }

        @mixin transition($value) {
            -webkit-transition: $value;
            -o-transition: $value;
            -moz-transition: $value;
            transition: $value;
        }

        @mixin shadow($shadow) {
            -webkit-box-shadow: $shadow;
            -moz-box-shadow: $shadow;
            box-shadow: $shadow;
        }
                  
        //mixins

        body{
    		margin:0;
    		padding:0;
    		font-size:14px;
            background-color:$primary_color;
            font-family:$sans;
    	}
        ul{
            margin:0;
            padding:0;
            list-style-type: none;
            line-height: 1.5rem;
        }
        .btn{
            color: $secondary_color;;
            background-color: $primary_color;
            border: 1px solid $secondary_color;
            margin: 5px;
            padding: 15px;
            cursor: pointer;
            font-size:20px;
            @include border-radius(5px);
            @include shadow(2px 11px 16px 0px $primary_color);
            &:hover{
                background-color: $secondary_color;
                color:$primary_color;
            }
            &:focus {
                outline:0;
            }
            &.btn-primary{
                text-transform:uppercase;
                width:30%;
                min-width:130px;
                opacity:1;
                margin-top:40%;
                @include transition(font-size .5s ease-in-out);
                @include transition(margin-top .5s ease-in-out);
                i{
                    display:block;
                    pointer-events:none;
                }
                &.hide{
                    margin-top:0;
                    opacity:.5;
                    pointer-events:none;
                    font-size: 13px;
                }
            }
            &.btn-modal{
                width: 100%;
                padding: 5px;
                font-size: 16px;
            }
        }
    	.list_block{
    		width:50%;
    		float:left;
            height:100%;
            line-height: 100%;
            background-color:$primary_color;
            color:$secondary_color;
            text-align:center;
            padding-top:8px;
			overflow-y: auto;
			max-height:100%;
            padding-top:18px;
            .itens{
                padding:10px;
                .view_details{
                    width:100%;
                    background-color:$primary_color;
                    color:$secondary_color;
                    cursor:pointer;
                    padding:10px 15px;
                    border: 1px solid $secondary_color;
                    text-align:left;
                    @include transition(color .5s ease-in-out);
                    @include transition(background-color .5s ease-in-out);
                    &:hover{
                        background-color:$secondary_color;
                        color:$primary_color;
                    }
                    &:first-child{
                        @include border-radius(15px 15px 0 0);
                    }
                    &:last-child{
                        @include border-radius(0 0 15px 15px);
                    }
                    b{
                        &:first-child{
                            font-size:17px;
                        }
                    }
                }
            }
    	}
    	.preloader{
    		position:fixed;
    		top:0;
    		width:100vw;
            color:$secondary_color;
    		height:100vh;
    		line-height:100vh;
    		opacity:.5;
    		text-align:center;
    	}

    	.modal{
            position: fixed;
            top: -50%;
            left: 50%;
            color:$secondary_color;
            transform: translate(-50%, -50%);
            background-color: $primary_color;
            opacity:0;
            height:0;
            min-width: 320px;
            border:1px solid $secondary_color;
            padding:15px 35px 25px 30px;
            z-index: 2;
            &.show{
                 opacity:1;
                 top: 50%;
                 height:auto;
                 +.show{
                    left:55%;
                    top:55%;
                 }
            }
            b{
                margin-right:10px;
            }
            @include shadow(3px 3px 11px 8px $primary_color);
            @include transition(opacity 1s ease-in-out);
            @include border-radius(5px);
    	}

        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
            background-color: rgba(0,0,0,0.5);
            @include transition(1s);
            .fa-times{
                position:absolute;
                padding: 10px 15px;
                right:20px;
                top:20px;
                color:red;
                border:1px solid red;
                cursor:pointer;
                @include border-radius(5px);
            }
        }